---
import NavLayout from "../../layouts/NavLayout.astro";

import RSSLink from "../../components/RSSLink.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("updates"))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .filter((a) => a.data.draft != true);
---

<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    /* width: calc(50% - 1rem); */
  }
  ul li img {
    margin-bottom: 0.5rem;
    border-radius: 12px;
  }
  .title {
    margin-bottom: 0;
  }
  .date {
    margin: 0;
    color: var(--text-color-1);
  }
</style>
<NavLayout>
  <main>
    <div class="page-view">
      <h1 class="title">Updates</h1>
      <p>blog posts and projects i guess...</p>
      <RSSLink href="/feed.xml"> RSS Feed + </RSSLink>
      <section>
        <ul>
          {
            posts.map((post) => (
              <li>
                <h2 class="title">
                  <a class="subtle-link" href={`/updates/${post.slug}/`}>
                    {post.data.title} →
                  </a>
                </h2>
                <p class="date">
                  <FormattedDate date={post.data.date} />
                </p>
              </li>
            ))
          }
        </ul>
      </section>
    </div>
  </main>
</NavLayout>
