---
import Construction from "../../components/Construction.astro";
import NavLayout from "../../layouts/NavLayout.astro";
---

<NavLayout title="pages">
  <main>
    <div class="page-view">
      <h1>Pages</h1>
      <Construction />
    </div>
  </main>
</NavLayout>
