<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{ page.title }}
      - adryd
    </title>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/syntax.css">
    <link
      rel="prefetch"
      as="font"
      href="/static/fonts/PretendardStdVariable.woff2"
      type="font/woff2"
    >
    <link
      rel="preload"
      as="font"
      href="/static/fonts/PretendardStdVariable.woff2"
      type="font/woff2"
    >
    <style>
      @font-face {
        font-family: Pretendard;
        font-weight: 45 920;
        font-display: swap;
        src: url('/static/fonts/PretendardStdVariable.woff2');
      }

      html {
        font-family: Pretendard, apple-system, system-ui, 'Helvetica', 'Arial', sans-serif;
      }
    </style>
    <!--[if IE]> <link rel="stylesheet" href="/static/compat.css" /> <![endif]-->
    <meta name="og:title" content="{{ page.title }} - adryd">
    <meta name="description" content="{{ page.description }}">
    <meta name="og:description" content="{{ page.description }}">
    <meta name="twitter:site" content="@_adryd">
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed for adryd.com"
      href="/feed.xml"
    >
    {% if page.image %}
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
      <meta name="og:image" content="{{ site.url }}{{ page.image }}">
    {% else %}
      <meta name="twitter:card" content="summary">
    {% endif %}

    <script type="speculationrules">
      {
        "preload": [
          {
            "where": { "selector_matches": "a" },
            "eagerness": "eager"
          }
        ],
        "prerender": [
          {
            "where": { "selector_matches": "a" },
            "eagerness": "moderate"
          }
        ]
      }
    </script>
  </head>
  <body>
    <main>{{ content }}</main>
    {% include footer.html %}
    <script src="/static/speedy.js"></script>
  </body>
</html>
