---
import { Image } from "astro:assets";
import construction from "./guy_constructing_the_thing.gif";
---

<style>
  div {
    border-left: 3px solid var(--warn-color);
    padding-left: 15px;
  }

  @media;
</style>
<div>
  <p>⚠️ Porting my site over to astro, some things are broken atm!</p>
  <Image
    src={construction}
    alt="Gif of guy constructing the thing"
    width={400}
  />
</div>
