---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
---

<a href={href} class:list={[className, "fancy-link"]} {...props}>
  <slot />
</a>

<style>
  a:hover {
    color: #ea580c;
    background-color: #fdba7444;
  }

  @media (prefers-color-scheme: dark) {
    a:hover {
      color: #fb923c;
      background-color: #fdba7433;
    }
  }
</style>
