---
import Construction from "../../../components/Construction.astro";
import NavLayout from "../../../layouts/NavLayout.astro";
import Trains from "./trains";
---

<style>
  @keyframes bump {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(12deg);
    }

    60% {
      transform: rotate(-15deg);
    }

    100% {
      rotate: rotate(0deg);
    }
  }

  :root {
    --fancy-link-text-color: #3f6212;
    --fancy-link-text-color-hover: #4d7c0f;
    --fancy-link-background-color: #a3e63533;
    --fancy-link-background-color-hover: #bef26433;

    --subtle-link-background-color: #bef26433;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --fancy-link-text-color: #84cc16;
      --fancy-link-text-color-hover: #a3e635;
      --fancy-link-background-color: #65a30d33;
      --fancy-link-background-color-hover: #84cc1633;

      --subtle-link-background-color: #bef26433;
    }
  }

  img {
    height: 100px;
  }
</style>

<script>
  document.querySelectorAll("img").forEach((img) => {
    img.addEventListener("mouseover", () => {
      if (img.style.animation !== "bump 0.5s") {
        img.style.animation = "bump 0.5s";
      }
    });

    img.addEventListener("animationend", () => {
      img.style.animation = "";
    });
  });
</script>

<NavLayout title="trains!!!">
  <main>
    <div class="page-view">
      <h1>trains!!!</h1>
      <p>
        Original svgs can be downloaded from the
        <a class="fancy-link" href="https://github.com/adryd325/train-graphics"
          >github repository →</a
        >. Somewhat styled after
        <a class="fancy-link" href="https://mutant.tech"
          >Mutant Standard Emojis →</a
        >. Remember to pet the trains!
      </p>

      {
        Trains.map((train) => (
          <>
            <img alt={train.alt} src={train.image.src} />
            <div>
              <h2>{train.location}</h2>
              <p>{train.name}</p>
            </div>
          </>
        ))
      }
    </div>
  </main>
</NavLayout>
