<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }} - adryd</title>
    <link rel="stylesheet" href="/static/main.css" />
    <link rel="stylesheet" href="/static/syntax.css" />
    <!--[if IE]>
      <link rel="stylesheet" href="/static/compat.css" />
    <![endif]-->
    <link rel="prefetch" as="font" href="/static/fonts/PretendardStdVariable.woff2" />
    <link rel="preload" as="font" href="/static/fonts/PretendardStdVariable.woff2" />
    <meta name="og:title" content="{{ page.title }} - adryd" />
    <meta
      name="description"
      content="{{ page.description }}"
    />
    <meta
      name="og:description"
      content="{{ page.description }}"
    />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@_adryd" />
  </head>
  <body>
    <main>
        {{ content }}
    </main>
    {% include footer.html %}
    <script>
      var ornaments = "💫 ⭐ 🌟 ✨ 🌙 🌸 🌺".split(" ");
      var arr = [];
      var index;
      for (var i = 0; i < 4; i++) {
        index = Math.floor(Math.random() * ornaments.length);
        arr.push(ornaments[index]);
        ornaments.splice(index, 1);
      }
      document.getElementById("ornaments").innerText = arr.join(" ");

      (window.webpackChunkwpToolsDetect = []).push = () => {
        console.log("Hello wpTools user <3");
      }
    </script>
  </body>
</html>
