@font-face {
  font-family: Pretendard;
  font-weight: 45 920;
  font-display: swap;
  src: url("/static/fonts/PretendardStdVariable.woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-display: swap;
  src: url("/static/fonts/ibmplexmono-regular.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-display: swap;
  src: url("/static/fonts/ibmplexmono-bold.woff2") format("woff2");
}

html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  font-family: Pretendard, apple-system, system-ui, "Helvetica", "Arial",
    sans-serif;
  background-color: #fdfdfd;
  color: #262626;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  margin: 1.5rem 0 1rem;
  word-break: break-word;
}

h1 {
  font-weight: 900;
  font-size: 5em;
  font-feature-settings: "lnum" 1;
  font-variation-settings: "opsz" 35;
  line-height: 1;
  margin: 1.5rem 0 1rem;
  word-break: break-word;
}

h2 {
  font-weight: 900;
  font-size: 2.5em;
  font-feature-settings: "lnum" 1;
  font-variation-settings: "opsz" 20;
}

h3 {
  font-weight: 700;
  font-size: 1.5em;
}

h4 {
  font-weight: 600;
  font-size: 1em;
}

h5 {
  font-weight: 600;
  font-size: 0.875em;
}

h6 {
  font-weight: 600;
  font-size: 0.85em;
}

p {
  margin: 0 0 16px;
}

code {
  font-family: "IBM Plex Mono", monospace;
}

/* taken from github.... maybe i should just copy most of my markdown stuff from github */
table {
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 16px;
}

table tr {
  border-top: 1px solid #d0d7de;
}

table th {
  font-weight: bold;
}

table th,
table td {
  border: 1px solid #d0d7de;
  padding: 6px 13px;
}

.margin-even {
  margin: 1rem 0;
}

.margin-none {
  margin: 0;
}

.subtitle {
  font-weight: 500;
  font-size: 1.125rem;
}

main {
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.bg {
  background-color: #fdfdfd;
  color: #262626;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

/* Footer common */
#ornaments {
  line-height: 1.5rem;
}

.logo {
  line-height: 0rem;
}

pre {
  margin: 0;
}

.highlighter-rouge,
figure {
  padding: 0.2em;
  margin: -0.2em 0;
  border-radius: 3px;
  background-color: #f5f5f5;
}

pre {
  font-size: 0.85em;
}

.light {
  display: block;
}
.dark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #e5e5e5;
    background-color: #050505;
  }

  .highlighter-rouge,
  figure {
    background-color: #050505;
  }

  footer {
    background-color: #090909;
  }

  .bg {
    color: #e5e5e5;
    background-color: #050505;
  }

  .fancy-link {
    color: #93c5fd;
    background-color: #3b82f633;
  }

  .fancy-link:hover {
    color: #93c5fd;
    background-color: #91c3fd33;
  }

  .danger-fancy-link {
    color: #ef4444;
    background-color: #991b1b33;
  }

  .danger-fancy-link:hover {
    color: #ef4444;
    background-color: #dc262633;
  }

  .subtle-link {
    color: currentColor;
  }

  .subtle-link:hover {
    color: currentColor;
    background-color: #91c3fd33;
  }

  .dark {
    display: block;
  }
  .light {
    display: none;
  }

  table tr {
    border-top: 1px solid #30363d;
  }

  table th,
  table td {
    border: 1px solid #30363d;
  }
}
@media (prefers-contrast: more) {
  body {
    font-feature-settings: "ss02";
    background-color: #ffffff;
    color: #000000;
  }

  footer {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px solid #212121;
  }

  .fancy-link {
    border: 1px solid currentColor;
    padding: calc(0.2em - 1px) calc(0.3em - 1px);
  }

  .subtle-link {
    /* border: 1px solid currentColor; */
    padding: 0.02em 0.2em 0.14em;
    margin: -0.02em -0.2em -0.14em;
    text-decoration: underline;
  }

  .subtle-link:hover {
    border: 1px solid currentColor;
    padding: 0.02em 0.2em 0.14em;
    margin: -0.02em -0.2em -0.14em;
    text-decoration: underline;
  }
}

@media (prefers-contrast: more) and (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
    color: #ffffff;
  }

  footer {
    background-color: #000000;
    color: #ffffff;
    border-top: 1px solid #ffffff;
  }
}

@media (prefers-reduced-motion: reduce) {
  #oneko {
    display: none;
  }
}

@media print {
  body {
    background-color: #ffffff;
  }

  main {
    max-width: 100%;
    padding: 0 1.5rem;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  a {
    text-decoration: none;
  }

  .no-print {
    display: none;
  }
}
