---
import BaseHead from "../components/BaseHead.astro";

const { title, description, image } = Astro.props;

interface Props {
  title?: string;
  description?: string;
  image?: string;
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    <slot />
  </body>
</html>
